{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "curly": ["error", "multi-line"],
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", "never"]
  }
}
